/* --- Fonts --- */
$max-font-size-h1: 80px;
$min-font-size-h1: 60px;

$max-font-size-h2: 60px;
$min-font-size-h2: 40px;

$max-font-size-h3: 40px;
$min-font-size-h3: 32px;

$max-font-size-h4: 32px;
$min-font-size-h4: 24px;

$max-font-size-h5: 24px;
$min-font-size-h5: 20px;

$max-font-size-h6: 20px;
$min-font-size-h6: 16px;

$max-font-size-p: 16px;
$min-font-size-p: 16px;

$max-font-size-large: 40px;
$min-font-size-large: 24px;

$max-font-size-small: 12px;
$min-font-size-small: 10px;

$max-font-size-nav: 18px;
$min-font-size-nav: 16px;

$font-weight-bold: bold;
$font-weight-normal: normal;

$font-family-default: '';
$font-family-heading: '';

/* --- Line Height --- */
$line-height-default: 1.2;
$line-height-heading: 1.2;

/* --- Animations --- */
$animation-duration: .3s;

/* --- Borders --- */
$border-width: 1px;

/* --- Spacing --- */
$spacing: 20px;

/* --- Colors --- */
$colors: (
  black: #000000,
  white: #FFFFFF,
  red: #CC0C00
);

$color-shade-percentage: 10%;
$color-opacity-light: 0.3;
$color-opacity-dark: 0.7;

/* --- Grid --- */
$gutter: 20px;
$min-width: 640px;
$max-width: 1440px;
$columns: 12;

$grid-breakpoints: (
  lg: $max-width,
  md: 1024px,
  sm: 768px,
  xs: $min-width
);
