.page .btn {
  display: inline-block;
  position: relative;
  padding: $spacing / 2 $spacing;
  @include responsive-vw(font-size, $min-font-size-p, $max-font-size-p);
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;

  &--small {
    padding: $spacing / 4 $spacing / 2;
  }

  &--medium {
    padding: $spacing $spacing * 2;
  }

  &--large {
    padding: $spacing * 2 $spacing * 3;
  }

  &--filled {
    border: $border-width solid;

    @each $color, $value in $color-map {

      &.btn--#{$color} {
        border-color: color($color);
        background-color: color($color);

        &:hover,
        &:focus {
          border-color: color($color, dark);
          background-color: color($color, dark);
        }
      }
    }
  }

  &--bordered {
    border: $border-width solid;

    @each $color, $value in $color-map {

      &.btn--#{$color} {
        border-color: color($color);

        &:hover,
        &:focus {
          border-color: color($color, dark);
          background-color: color($color, dark);
        }
      }
    }
  }

  &--blank {

    @each $color, $value in $color-map {
      &.btn--#{$color} {
        color: color($color);

        &:hover,
        &:focus {
          color: color($color, dark);
        }
      }
    }
  }
}
