.form {

  .form__group,
  .form__action {
    position: relative;

    &:not(:first-child) {
      margin-top: $spacing;
    }
  }

  label {
    display: inline-block;
    position: relative;
    @include responsive-vw(font-size, $min-font-size-p, $max-font-size-p);
  }

  input[type=tel],
  input[type=text],
  input[type=email],
  textarea,
  select {
    display: block;
    position: relative;
    width: 100%;
    padding: $spacing / 2;
    @include responsive-vw(font-size, $min-font-size-p, $max-font-size-p);
    border: $border-width solid color(black);
    border-radius: 0;
    color: color(black);
    -webkit-appearance: none;
    outline: none;
    resize: none;
    box-sizing: border-box;
    @include transition();

    &:focus {
      border-color: color(black);
    }
  }

  select {
    -webkit-appearance: none;

    &::-ms-expand {
      display: none;
    }
  }

  input[type=submit],
  button[type=submit] {
    font-family: $font-family-default;
    -webkit-appearance: none;
    border-radius: 0;
  }

  &__alert {
    margin-bottom: $spacing;
    padding: $spacing;
    background-color: color(red) !important;
    color: color(white);
  }

  .formify-error {

    label,
    .formify-legend {
      color: color(red);
    }

    input,
    textarea,
    select {
      border: solid $border-width color(red);
    }
  }

  input.formify-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  input.formify-radio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .formify-checkbox-label,
  .formify-radio-label  {
    position: relative;
    float: left;
    margin-right: $spacing / 2;
    padding-left: 30px;

    &:hover input ~ .checkmark {
      background-color: color(black);
    }

    input:checked ~ span {
      background-color: color(black);
      border: $border-width solid color(black);
    }

    input:checked ~ span:after {
      display: block;
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 15px;
      height: 15px;
      float: left;
      margin-right: $spacing / 2;
      border: $border-width solid color(black);

      &:after {
        content: '';
        position: absolute;
        display: none;
        left: 4px;
        top: 0;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
      }
    }
  }

  .formify-select {
    position: relative;

    &:after {
      content: "\f0dc";
      position: absolute;
      top: 50%;
      right: 0;
      width: 10%;
      font-family: FontAwesome;
      color: color(black);
      text-align: center;
      pointer-events: none;
      transform: translateY(-50%) translateX(0%);
    }
  }

  .formify-attachment {
    position: relative;
    border: $border-width solid color(black);
    border-radius: 0;
    background-color: color(black);
    box-sizing: border-box;
    @include transition();

    &:hover {
      background-color: color(white);

      .formify-file-button-text > a {
        color: color(black);
      }

      .formify-file-progress {
        color: color(black);
      }
    }

    .formify-file-button {
      width: 100%;
      float: left;
      padding: $spacing / 2;
    }

    .formify-file-button-text > a {
      @include responsive-vw(font-size, $min-font-size-p, $max-font-size-p);
      color: color(white);
      text-decoration: none;
    }

    .formify-file-progress {
      float: left;
      padding: $spacing / 2;
      color: color(white);
    }
  }
}
