.header {
  top: 0;
  left: 0;
  height: 90px;
  z-index: 10;

  &__item {
    position: relative;
    display: inline-block;
    @include responsive-vw(font-size, $min-font-size-nav, $max-font-size-nav);

    a {
      text-decoration: none;
      font-weight: $font-weight-bold;
    }

    &:hover {

      a {
        color: color(black);
      }

      > ul {
        display: block;
      }
    }

    &--active {

      > a {
        color: color(black);
      }
    }
  }

  &__sublist {
    display: none;
    position: absolute;
    right: 0;
    width: 300px;
  }

  &__logo {
    display: inline-block;
    width: 100px;
  }

  &__navicon {
    display: none;
    position: relative;
    padding: $spacing / 2 0;
    user-select: none;
    cursor: pointer;

    &--bars {

      &:before, &:after {
        transition: $animation-duration / 2;
      }
    }

    &--bars {
      position: relative;
      width: 30px;
      height: 2px;
      background-color: color(black);
      transition: $animation-duration / 2;

      &:before, &:after {
        display: block;
        content: "";
        height: 2px;
        width: 30px;
        background-color: color(black);
        position: absolute;
        transition: $animation-duration / 2;
      }

      &:before {
        top: .625rem;
      }

      &:after {
        top: -.625rem;
        height: 2px;
      }
    }

    &--open:not(.steps) .header__navicon--bars:before,
    &--open:not(.steps) .header__navicon--bars:after {
      top: 0 !important;
    }

    &--open .header__navicon--bars:before,
    &--open .header__navicon--bars:after {
      transition: $animation-duration / 2;
      background-color: color(black);
    }

    &--open {

      &:hover {

        .header__navicon--bars {

          &:before,
          &:after {
            background-color: color(black);
          }
        }
      }

      .header__navicon--bars {
        background-color: transparent;

        &:before {
          transform: rotate(-45deg);
        }

        &:after {
          transform: rotate(45deg);
        }
      }
    }
  }

  @include grid-media($sm) {

    &__nav {
      position: fixed;
      top: 0;
      right: -250px;
      width: 250px;
      height: 100%;
      margin-top: 0;
    }

    &__item {
      display: block;
      width: 100%;

      a {
        width: 100%;
      }
    }

    &__navicon {
      display: inline-block;
      float: left;
    }
  }
}
