.ccm-toolbar-visible {

  .header {
    top: 48px;
  }

  .hero {
    padding-top: calc(90px + 48px);
  }
}

.ccm-pagination-wrapper {
  width: 100%;
  float: left;

  .pagination {
    position: relative;
    left: 50%;
    transform: translateY(0%) translateX(-50%);
    border-radius: 0;

    span,
    a {
      font-family: $font-family-heading;
      font-weight: 300;
      background-color: color(white) !important;
      border: 0;
    }

    li.active span {
      border-color: color(black) !important;
      background-color: color(black) !important;
      color: color(black);
    }

    li a {
      margin-left: 0;
      color: color(black) !important;
    }

    li {

      &:nth-child(n+2) {

        a {
          border-right: 1px solid color(white) !important;
          z-index: 1 !important;
        }
      }
    }
  }

  .pagination > li:first-child > a,
  .pagination > li:first-child > span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .pagination > li:last-child > a,
  .pagination > li:last-child > span {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}

