html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100%;
  background-color: color(white);
}

.page {

  img {
    max-width: 100%;
    float: left;
  }
}

.social {

  &__list {
    list-style: none;
    margin-top: $spacing / 4;
    margin-left: 0 !important;
  }

  &__item {
    display: inline-block;
    line-height: 0 !important;

    a {
      margin-right: $spacing / 2;
    }

    &:hover {

      a {
        color: color(black);
      }
    }
  }
}

.breadcrumb {

  &__list {
    margin-left: 0 !important;
    list-style: none !important;
  }

  &__item {
    display: inline-block;

    a {
      text-decoration: none;
      color: color(black);
    }

    i {
      margin: 0 $spacing / 2;
    }

    &--active {
      font-weight: $font-weight-bold;
    }
  }
}
