/* --- Animations --- */
.rotate {
  @include rotate(180);
}

/* --- Spacing --- */
.margin {
  margin: $spacing;
  @include spacing-sizes(margin);
  @each $key, $value in $grid-breakpoints {
    @include grid-media(map-get($neat-breakpoint-grid, $key)) {
      &__#{$key} {
        margin: $spacing;
        @include spacing-sizes(margin);
      }
    }
  }
  @include spacing(margin);
}

.padding {
  padding: $spacing;
  @include spacing-sizes(padding);
  @each $key, $value in $grid-breakpoints {
    @include grid-media(map-get($neat-breakpoint-grid, $key)) {
      &__#{$key} {
        padding: $spacing;
        @include spacing-sizes(padding);
      }
    }
  }
  @include spacing(padding);
}

/* --- Floats --- */
.float {

  &--left {
    float: left;
  }

  &--right {
    float: right;
  }
}

/* --- Text --- */
.text {

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--strike {
    text-decoration: line-through;
  }

  &-decoration {

    &--none {
      text-decoration: none;
    }

    &--underline {
      text-decoration: underline;
    }
  }
}

/* --- Colors --- */
.color {

  @each $color, $_ in $color-map {

    &--#{$color} {
      color: color($color);
    }
  }
}

/* --- Backgrounds --- */
.background {

  @each $color, $_ in $color-map {

    &--#{$color} {
      background-color: color($color);

      &.background--light {
        background-color: color($color, light);

        &.background--transparent {
          background-color: rgba(color($color), $color-opacity-light);
        }
      }

      &.background--dark {
        background-color: color($color, dark);

        &.background--transparent {
          background-color: rgba(color($color), $color-opacity-dark);
        }
      }
    }
  }

  &--cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &--image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center;';
  }
}

/* --- Image --- */
.image {

  &--cover {
    object-fit: cover;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center;';
  }

  &--contain {
    object-fit: contain;
    object-position: center;
    font-family: 'object-fit: contain; object-position: center;';
  }
}

/* --- Center alignments --- */
.table {
  display: table;
  height: 100%;

  &__cell {
    display: table-cell;

    &--vertical-middle {
      vertical-align: middle;
    }

    &--vertical-bottom {
      vertical-align: bottom;
    }
  }
}

.center {

  &--top {
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(-50%) translateX(0%);
  }

  &--left {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateY(0%) translateX(-50%);
  }

  &--middle {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

/* --- Width --- */
.width {

  &--stretch {
    width: 100%;
  }
}

/* --- Height --- */
.height {

  &--small {
    min-height: 200px;
    height: 20vh;
  }

  &--medium {
    min-height: 400px;
    height: 40vh;
  }

  &--large {
    min-height: 600px;
    height: 60vh;
  }

  &--stretch {
    height: 100%;
  }
}

/* --- Positions --- */
.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

/* --- Overflows --- */
.disable {

  &--scrolling {
    overflow: hidden;
  }
}

.overflow {

  &--hidden {
    overflow: hidden;
  }
}

/* --- Hidden --- */
.hidden {
  display: none;
}

/* --- Grid breakpoint conditions --- */
@each $key, $value in $grid-breakpoints {
  @include grid-media(map-get($neat-breakpoint-grid, $key)) {
    .#{$key} {

      &--hidden {
        display: none;
      }

      &--no-margin {
        margin: 0;
      }

      &--no-padding {
        padding: 0;
      }

      &--no-border {
        border: 0;
      }

      &--order {
        display: flex;
        flex-direction: column;

        &-top {
          order: 1;
        }

        &-bottom {
          order: 2;
        }
      }
    }
  }
}

/* --- List styles --- */
.list-style {

  &--none {
    margin-left: 0 !important;
  }
}

/* --- Borders --- */
.border {
  border: $border-width solid;

  &-top {
    border-top: $border-width solid;
  }

  &-bottom {
    border-bottom: $border-width solid;
  }

  &-left {
    border-left: $border-width solid;
  }

  &-right {
    border-right: $border-width solid;
  }

  @each $color, $_ in $color-map {

    &--#{$color} {
      border-color: color($color);
    }
  }
}
