.page {
  line-height: $line-height-default;
  font-family: $font-family-default;
  color: color(black);

  @for $i from 1 through 6 {
    h#{$i} {
      font-family: $font-family-heading;
      line-height: $line-height-heading;
    }
  }

  .h1,
  h1 {
    @include responsive-vw(font-size, $min-font-size-h1, $max-font-size-h1);
  }

  .h2,
  h2 {
    @include responsive-vw(font-size, $min-font-size-h2, $max-font-size-h2);
  }

  .h3,
  h3 {
    @include responsive-vw(font-size, $min-font-size-h3, $max-font-size-h3);
  }

  .h4,
  h4 {
    @include responsive-vw(font-size, $min-font-size-h4, $max-font-size-h4);
  }

  .h5,
  h5 {
    @include responsive-vw(font-size, $min-font-size-h5, $max-font-size-h5);
  }

  .h6,
  h6 {
    @include responsive-vw(font-size, $min-font-size-h6, $max-font-size-h6);
  }

  p {
    @include responsive-vw(font-size, $min-font-size-p, $max-font-size-p);
  }

  a {
    color: inherit;
    cursor: pointer;
  }

  .jumbo {
    @include responsive-vw(font-size, $min-font-size-large, $max-font-size-large);
  }

  small {
    @include responsive-vw(font-size, $min-font-size-small, $max-font-size-small);
  }

  strong {
    font-weight: $font-weight-bold;
  }

  em {
    font-style: italic;
  }

  ul {
    margin-left: $spacing;
    list-style: disc;

    li {
      line-height: $line-height-default;
    }
  }

  ol {
    margin-left: $spacing;
    list-style: decimal;

    li {
      line-height: $line-height-default;
    }
  }

  sup {
    position: relative;
    top: -5px;
    @include responsive-vw(font-size, $min-font-size-small, $max-font-size-small);
  }
}
